<h2> write here</h2>


<form action="/visit" method="POST" role="form">
  
    <div class="form-group">
      <label>Your name</label>
      <input id="first_string" name ="username" type="text" class="form-control" placeholder="Your name">
    </div>

     <div class="form-group">
      <label>Phone</label>
      <input id="second_string" name ="phone" type="text" class="form-control" placeholder="+7(   ) ...">
    </div>
    


     <div class="form-group">
      <label>Date and time your visit</label>
      <input id="third_string" name ="datetime" type="text" class="form-control" placeholder="mm/dd/yyyy">


     <div class="form-group">
      <label>Select </label>
       <select name="barbersermen "class="form-control">
		<option>Select your servis men</option>
		<option>Walter Wait</option>
		<option>Jessie Pincman</option>
		<option>Gus Fring</option>
		<option>Mister five</option>
	</select>
      
    </div>

   


    <button type="submit" class="btn btn-primary">Submit</button>
 
</form>

<script type="text/javascript">
	$('#first_string').css('background-color','black');
	$('#second_string').css('background-color','red');
	$('#third_string').css('background-color','yellow');
</script>
